.App {
  text-align: center;
}

.App-header {
  background-color: #364f6b;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-weight: normal;
  margin: 0;
}

.App-header p {
  max-width: 30em;
  margin: 0 auto;
}

.Chars {
	margin-bottom: 20px;
}
