.Footer {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1em;
	font-size: 15px;
}

.Footer p {
	max-width: 50em;
	margin: 0 auto;
}


.Footer a {
	color: #364f6b;
	border-bottom: 1px solid #fc5185;
	text-decoration: none;
	padding-left: .3em;
	padding-right: .3em;
}

.Footer a:hover {
	border-bottom: 1px solid currentColor;
}
