.Footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1em;
	font-size: 15px;
}

.Footer p {
	max-width: 50em;
	margin: 0 auto;
}
