.OutputChooser {
	margin-bottom: 20px;
	font-size: 15px;
}

.OutputChooser-info {
	display: inline-block;
	margin-right: 10px;
}

.OutputChooser-label {
	margin: 0;
    display: inline-block;
    padding: 0.5em 1em;
    line-height: 1;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.OutputChooser-label:hover,
.OutputChooser-label.is-active {
	background-color: #364f6b;
	color: #fff;
}

/*.OutputChooser-label:hover {
	background-color: rgba(54, 79, 107, .7);
	color: #fff;
}*/

.OutputChooser-label input {
	display: none;
}
